body{
	background-color: rgb(232, 227, 243);
}
header{
	display: block;
	margin-bottom: 10px;
	background-color: rgb(226, 8, 8);
}
.title{
	visibility: visible;
	font-style: oblique;
	font-size: 8pc;
	text-decoration: none;
	width: 80%;
	padding: 20px;
	margin: 10px auto;
	color: rgb(201, 199, 199);
}
.hiddenLink{
	visibility: hidden;
	text-decoration: none;
}
.hiddenLink:hover{
	background-color:rgb(250, 59, 59);
	color: blue;
	visibility: visible;
	text-decoration: none;
}
.pageWrapper{
	display: grid;
	grid-template-columns: 25% 50% 25%;
	width: 80%;
	margin: 0 auto;
}
main{
	grid-column: 2/3;
	grid-row: 1;
	display: grid;
	grid-template-rows: auto auto auto;
	margin: 0 20px;
	
}
h2{
	color: rgb(226, 8, 8);
}
.table > h2{
	text-align: center;
	
}
.intro, a{
	color: rgb(31, 31, 31);
}
table, th{
	padding: 2px;
	border: 1px solid rgb(146, 146, 146);
	
}
table{
	width: 100%;
	margin: 0 auto;
	background-color: rgb(226, 8, 8);
	border-radius: 5px;
}
th, tr{
	width: 33%;
	height: 35px;
	margin: 0 auto;
	background-color: rgb(201, 199, 199);
}
.countrybtn{
	background-color: rgb(226, 8, 8);
	color: rgb(201, 199, 199);
	border-radius: 5px;
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-size: 1pc;
}
.rightSide{
	grid-column: 1/3;
	grid-row: 1;
	justify-self: start;
}
.leftSide{
	grid-column: 3/3;
	justify-self: end;
}
fieldset{
    background-color: rgb(222, 217, 235);
}
fieldset > form{
	padding: 10px;
}
footer{
	margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}